<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import Vue.js -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.0/vue.js"></script>
    <!-- import stylesheet -->
    <link href="https://cdn.bootcdn.net/ajax/libs/iview/3.5.4/styles/iview.css" rel="stylesheet">
    <!-- import iView -->
    <script src="https://cdn.bootcdn.net/ajax/libs/iview/3.5.4/iview.js"></script>
</head>
<body>
<div id="app">
  home111

</div>

<!--<div th:replace="component/viewNav :: view_nav"></div>-->
<!--<script th:replace="component/viewNav :: view_nav_script"></script>-->

<script>

</script>
<script>
    new Vue({
        el: '#app',
        data: {
            theme3: 'light'
        },
        methods: {}
        /*components: {
            'aaaa': viewNav
        }*/
    });
</script>
</body>
</html>