<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import Vue.js -->
    <script src="/lib/vue.js"></script>
    <!-- import stylesheet -->
    <link href="https://cdn.bootcdn.net/ajax/libs/iview/3.5.4/styles/iview.css" rel="stylesheet">
    <!-- import iView -->
    <script src="/lib/iview.js"></script>
    <script src="/lib/vue-router.js"></script>


</head>
<body>
<div id="app">
    <Row>
        <i-col span="4">
            <i-menu theme="light" active-name="1">
                <menu-group title="系统管理">
                    <menu-item name="1" to="/home">
                        <icon type="md-document"></icon>
                        系统概览
                    </menu-item>
                    <menu-item name="2" to="/home1">
                        <icon type="md-document"></icon>
                        实例信息
                    </menu-item>
                    <menu-item name="3" to="/home2">
                        <icon type="md-chatbubbles"></icon>
                        定时任务
                    </menu-item>
                    <menu-item name="4" to="/timer">
                        <icon type="md-chatbubbles"></icon>
                        系统日志
                    </menu-item>
                </menu-group>

            </i-menu>
        </i-col>
        <i-col span="20">
            <Breadcrumb>
                <breadcrumb-item>
                    当前位置：
                </breadcrumb-item>
                <breadcrumb-item :to="{ path: item.path }" v-for="item in this.$router.history.current.meta.breadcrumb">
                    {{item.name}}
                </breadcrumb-item>
            </Breadcrumb>
            <router-view/>
        </i-col>
    </Row>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0/axios.js"></script>
<div th:replace="component/viewNav :: view_nav"></div>
<script th:replace="component/viewNav :: view_nav_script"></script>

<div th:replace="component/home :: home"></div>
<script th:replace="component/home :: home_script"></script>
<script src="/js/router.js"></script>
<script>

</script>
<script>

    new Vue({
        el: '#app',
        data: {
            breadLoadName: '/',

            breadList:[]
        },
        mounted: function () {
            this.loadChange()
        },
        methods: {
            loadChange() {
                this.breadListLast = []
                let url = window.location.href;
                url.split("/").forEach(e=>{
                    console.log(e)
                })
            }
        },
        router,
        components: {
        }
    });

</script>
</body>
</html>